:root{
    --light:rgb(196, 214, 222);
    --dark:#8b959a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    font-family: 'Times New Roman', Times, serif;
}
.container{
    position: relative;
    width: 590px;
    height: 100vh;
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.001);
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    padding: 30px;
    overflow: hidden;
    color: #fff;
}
.img-section{
    position: absolute;
    top: 0px;
    left: 26%;;
}
.img-section img{
    width: 280px;
    height:280px;
    background-color: var(--dark);
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 60px auto;
    background-size: cover;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
    animation: rotate 20s infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.details{
  position: absolute;
  top: 50%;
  left: 34%;

}

/* the song slider styles */
.song_slider{
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.music_name,.music_artist{
    text-align: center;
    text-transform: capitalize;

}
.music_name{
    font-size: 2rem;
}
.range-control{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--light);
    cursor: pointer;
    overflow: hidden;
    
}
.range-control::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    background-color: #ddd;
    box-shadow: -400px 0 0 400px #fff;
}
.current_time,.duration_time{
    font-size: 1rem;

}
.duration_time{
    position: absolute;
    right: 0;
}
.controls{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 0 30px;
    


}
.ply_btn{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(204, 29%, 93%);
    cursor: pointer;
    border: none;
}
.ply_btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 2px ;
    height: 10px;
    border-radius: 2px;
    background: var(--dark);
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.ply_btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
}
.ply_btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}
.ply_btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%,-50%);
    border-radius: 0;
    clip-path:polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}
.ply_btn.pause{
    animation: pluse 2s linear infinite;
}
@keyframes pluse{
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, .1);
    }
    100%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, .5);

    }
}
/* btns styles */
.controls .btn{
    width: 40px;
    height: 40px ;
    background: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.controls img{
    width: 40px;
    height: 40px;
}
/* ========================================= MAKING RESPONSVE ================================= */
@media (min-width:360px){
    .box{
        width: 70%;
    }
    .img{
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 600px){
    .box{
        width: 60%;
    }
    .img{
        width: 130px;
        height: 130px;
    }
}

@media (min-width:770px) {
    .box{
        width: 50%;
    }
    .img{
        width: 150px;
        height: 150px;
    }
}

@media (min-width:1024) and (max-width:1200px){
    .box{
        width: 30%;
    }
}