:root{
    --light:rgb(23 96 131);
    --dark:#217ca9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background:var(--light);
}
.box{
    width: 40%;
    height:100vh;
    background-color: var(--dark);
    margin:auto;
    position: relative;
}
.box::before{
    content: "";
    position: absolute;
    top: 23%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--light);
}
img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: rotate 20s infinite;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 120px;
    box-shadow: 1px -1px 40px 17px rgb(240 200 100 / 60%);
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.details{
  position: absolute;
  margin-top: 250px;
  margin-left: 2.5rem;

}
.music_name,.music_artist{
    text-align: center;
    text-transform: capitalize;

}
.music_name{
    font-size: 2rem;
}
/* the song slider styles */
.song_slider{
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.range-control{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--light);
    cursor: pointer;
    overflow: hidden;
}
.range-control::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    background-color: #ddd;
    box-shadow: -400px 0 0 400px #fff;
}
.current_time,.duration_time{
    font-size: 1rem;

}
.duration_time{
    position: absolute;
    right: 0;
}
.controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
.ply_btn{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e9eff3;
    cursor: pointer;
    border: none;
}
.




/* ========================================= MAKING RESPONSVE ================================= */
@media (min-width:360px){
    .box{
        width: 70%;
    }
    img{
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 600px){
    .box{
        width: 60%;
    }
    img{
        width: 130px;
        height: 130px;
    }
}

@media (min-width:770px) {
    .box{
        width: 50%;
    }
    img{
        width: 150px;
        height: 150px;
    }
}

@media (min-width:1024) and (max-width:1200px){
    .box{
        width: 30%;
    }
}