:root{
    --light:rgb(196, 214, 222);
    --dark:#8b959a;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--dark); */
    font-family: 'Times New Roman', Times, serif;
    background: rgb(219, 118, 205);
    background: linear-gradient(90deg, rgb(181, 108, 171) 9%, rgb(34, 73, 73) 87%, rgb(23, 84, 84) 93%); */
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100vh;
    border-radius: 20px;
    /* background:rgba(193, 19, 19, 0.001); */
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    padding: 30px;
    overflow: hidden;
    color: rgb(251, 239, 239);
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}

.img-section{
margin: -350px auto 0 auto;
}
.img-section .music-img{
    width: 280px;
    height:280px;
    background-color: var(--dark);
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 60px auto;
    background-size: cover;
    box-shadow: 1px -1px 40px 17px rgba(52, 198, 200, 0.6);
    z-index: 3;
}
.rotate{
    animation: rotate 25s linear infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.details{
    position: absolute;
    top: 60%;
    width: 90%;
    left: 6%;

}

/* the song slider styles */
.song_slider{
    width: 100%;
    margin: 20px 0;
    position: relative;
}
.music_name,.music_artist{
    text-align: center;
    text-transform: capitalize;

}
.music_artist{
font-size: 2rem;
margin-bottom: 50px;
}
.music_name{
    font-size: 3rem;
}
.range-control{
    cursor: pointer;    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #f1f1f1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 100%;
}

.range-control::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:white;
    border: 1px solid #3774ff;
    cursor: pointer;
}
.current_time,.duration_time{
    font-size: 1rem;
}
.duration_time{
    position: absolute;
    right: 0;
}
.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 30px 0px;
    width: 100%;
    


}

/* btns styles */

.controls .btn{
    width: 47px;
    height: 47px ;
    background: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    border: none;
    cursor: pointer;
    margin: 10px;
    color: #000;
    }

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.controls img{
    width: 60px;
    height: 60px;
}


.btnNext i, .btnBack i , .fast-backward, .fast-forward{
    color: #000;
    display: flex;
    justify-content:space-between;
}


i,
i.fa-play-circle,
i.fa-puase-circle,
i.fa-step-backward,
i.fa-step-forward,
i.fast-backward,
i.fast-forward
{
    cursor: pointer;
}
/* ========================================= MAKING RESPONSVE ================================= */
@media (max-width:760px){
    .container{
        width: 100%;
        height: 100vh;
    }
    .img-section .music-img{
        width: 200px;
        height: 200px;   
    }
    .fa-play-circle, .fa-pause-circle{
        font-size: 3em;
    }
    .fa-backward,
    .fa-forward{
        font-size: 1.4em;
    }
    .fast-backward,
    .fast-forward{
        font-size: .7em;
    }

    
    .img-section{
    margin: -280px auto 0 auto;
    }

    .music_artist{
        font-size: 1rem;
        margin-bottom: 50px;
        }
        .music_name{
            font-size: 2rem;
        }

}

/* 

@media (min-width: 600px){
    .container{
        width: 60%;
    }
    .img{
        width: 130px;
        height: 130px;
    }
}

@media (min-width:770px) {
    .box{
        width: 50%;
    }
    .img{
        width: 150px;
        height: 150px;
    }
}

@media (min-width:1024) and (max-width:1200px){
    .box{
        width: 30%;
    }
} */